<div class="sidebar_menu">
	        <div class="inner__sidebar_menu">
	        	
	        	<ul>
				  <li class="tooltip">
					<a href="indexCEO.php">
						<span class="icon">
						<i class="fas fa-home"></i></span>
						<span class="list"><%= dashboard %></span>
						<span class="tooltiptext"><%= dashboard %></span>
					</a>
				  </li>
				  
				  <li>
					<hr class="solid">
				  </li>
				  
		          <li class="tooltip">
		            <a href="employees.php">
		              <span class="icon">
		              	<i class="fas fa-users"></i></span>
		              <span class="list"><%= employees %></span>
		              <span class="tooltiptext"><%= employees%></span>
		            </a>
		          </li>
				  
		          <li class="tooltip">
		            <a href="revenue.php">
		              <span class="icon"><i class="fas fa-chart-pie"></i></span>
		              <span class="list"><%= revenue %></span>
		              <span class="tooltiptext"><%= revenue %></span>
		            </a>
		          </li>
				  
		          <li class="tooltip">
		            <a href="costs.php">
		              <span class="icon"><i class="fas fa-address-book"></i></span>
		              <span class="list"><%= costs %></span>
		              <span class="tooltiptext"><%= costs %></span>
		            </a>
		          </li>
				  
				  <li >
					<hr class="solid">
				  </li>	
				  
		           <li class="tooltip">
				    <a href="departments.php">
		              <!--<span class="icon"><i class="fas fa-sitemap"></i></span>-->
					  <span><img src="img/dept.png" style="max-width: 50px;"></span>
		              <span class="list"><%= departments %></span>
		              <span class="tooltiptext"><%= departments %></span>
		            </a>
					<ul>
						<li class="tooltip">
							<a href="accounts.php">
								<span><img src="img/accounts2.png" style="max-width: 23px;"></span>
								<span class="list"><%= accounts %></span>
								<span class="tooltiptext"><%= accounts %></span>
							</a>
						</li>
						<li class="tooltip">
							<a href="hr.php">
								<span><img src="img/hr2.png" style="max-width: 27px;"></span>
								<span class="list"><%= hr %></span>
								<span class="tooltiptext"><%= hr %> </span>
							</a>
						</li>
						
						<li class="tooltip">
							<a href="marketing.php" class="active">
								<span><img src="img/marketing2.png" style="max-width: 29px;"></span>
								<span class="list"><%= marketing %></span>
								<span class="tooltiptext"><%= marketing %></span>
							</a>
						</li>
						<li class="tooltip">
							<a href="ppss.php">
								<span><img src="img/ppss2.png" style="max-width: 23px;"></span>
								<span class="list"><%= professionalServices%></span>
								<span class="tooltiptext"><%= professionalServices%></span>
							</a>
						</li>
						<li class="tooltip">
							<a href="sales.php">
								
								<span><img src="img/sales2.png" style="max-width: 23px;"></span>
								<span class="list "><%= sales %></span>
								<span class="tooltiptext"><%= sales %></span>
							</a>
						</li>
						<li class="tooltip">
							<a href="deptManagers.php">
								
								<span><i class="fas fa-briefcase"></i></span>
								<span class="list "><%= depetmentManagers%></span>
								<span class="tooltiptext"><%= departmentManagers%></span>
							</a>
						</li>
						

					</ul>

		          </li>
		          
		        </ul>

		        <div class="hamburger">
			        <div class="inner_hamburger">
			            <span class="arrow">
			                <i class="fas fa-long-arrow-alt-left"></i>
			                <i class="fas fa-long-arrow-alt-right"></i>
			            </span>
			        </div>
			    </div>

	        </div>
	    </div>